<!-- Modal -->
<div class="modal fade" id="modal_encerrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deseja Finalizar este Atendimento?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn botao-vermelho" data-bs-dismiss="modal">Não</button>
        <a href="/observacao" type="button" class="btn botao">Sim</a>
      </div>
    </div>
  </div>
</div>