<script defer src="/logica/impedir_retorno.js"></script>

<form class="caixa-login" action="/autenticar" method="POST">
    <div class="row justify-content-md-center">
        <h1 class="col-md-5">
            <img src="img/logo_naf.png" alt="">
        </h1>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-4 entrada">
            <div class="row">
                <label class="col-3">Login:</label>
                <input class="col-9" name="email" type="email">
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-2">
        <div class="col-md-4 entrada">
            <div class="row">
                <label class="col-3">Senha:</label>
                <input class="senha col-9" name="senha" type="password">
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-md-center">
        <div class="col-md-4 d-inline-flex ">
            <input type="checkbox" class="mostrar_senha">
            <label class="mostrar_senha" for="">Mostrar Senha</label>
        </div>
    </div>
    <div class="row mt-2 justify-content-md-center">
        <div class="col-md-4 ">
            <div class="row justify-content-between">
                <!--################# INVALIDO #################-->
                <?php if ($this->view->status == 'invalido') { ?>
                    <span class="col-md-7 text text-danger">E-mail e/ou senha Invalido(s) </span>
                <?php } else { ?>
                    <span class="col-md-7"></span>
                <?php } ?>
                <button type="submit" id="btn_login" class="botao col-md-4">Entrar</button>
            </div>
        </div>

    </div>

    <div class="redes redes-index">
        <a href="https://www.instagram.com/naf_guarulhos/?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/NAF-Torri-107581215207019" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://sites.google.com/torrimail.com.br/naftorri/in%C3%ADcio" target="_blank"><i class="bi bi-globe2"></i></a>     
    </div>
</form>