@charset "UTF-8";
/* line 10, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.botao, .botao-vermelho, .botao-verde {
  border: solid 1px #2A3C71;
  background-color: #2A3C71;
  color: white;
  border-radius: 4em;
  padding: 0.2em 1em;
  font-size: 1.2em;
  transition: all 0.2s;
}

/* line 19, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.botao:hover, .botao-vermelho:hover, .botao-verde:hover {
  background-color: #182349;
  color: white;
}

/* line 25, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.botao-vermelho {
  border: solid 1px #eb6644;
  background-color: #eb6644;
}

/* line 30, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.botao-vermelho:hover {
  background-color: #ff3f0f;
  color: white;
}

/* line 36, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.botao-verde {
  border: solid 1px #4da340;
  background-color: #4da340;
}

/* line 41, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.botao-verde:hover {
  background-color: #61BC53;
  color: white;
}

/* line 47, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.entrada {
  display: inline;
  border: solid 2px #2A3C71;
  border-radius: 5em;
  font-size: 1.5em;
  margin: auto;
  padding: 0.2em 0 0.2em 0.5em;
  overflow: hidden;
}

/* line 56, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.entrada label {
  padding-right: 0;
  text-align: center;
  color: #2A3C71;
}

/* line 62, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.entrada input {
  border-radius: 0 5em 5em 0;
  border: 1px solid white;
  padding-left: 0;
  /* Cor de fundo do autocomplete */
}

/* line 67, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.entrada input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

/* line 73, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
.entrada input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/* line 79, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body {
  font-family: 'Red Hat Display', sans-serif;
}

/* line 83, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: 0;
  padding: 1em 2em;
  width: 100%;
  height: 5em;
  background-color: #2A3C71;
  display: flex;
  align-items: center;
}

/* line 100, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body header h1 {
  color: white;
  text-transform: capitalize;
  font-size: 2em;
  margin-bottom: 0;
}

/* line 107, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body header #top_cliente {
  text-align: right;
  color: white;
  position: absolute;
  right: 1em;
}

/* line 113, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body header #top_cliente .copy {
  color: white;
  cursor: pointer;
}

/* line 118, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body header #top_cliente .copy:hover {
  color: #cccccc;
}

/* line 122, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body header #top_cliente .copy i {
  background-color: transparent;
  border: none;
  color: white;
}

/* line 131, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #img_perfil, body #img_usuario {
  margin-right: 1em;
  border: solid 2px #bab9bd;
  border-radius: 3em;
  overflow: hidden;
  transition: all 0.3s;
}

/* line 138, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #img_perfil:hover, body #img_usuario:hover {
  border: solid 2px white;
}

/* line 142, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #img_perfil img, body #img_usuario img {
  cursor: pointer;
  width: 3em;
  height: 3em;
}

/* line 149, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #img_usuario {
  border-radius: 100%;
  border: solid 2px #bab9bd;
}

/* line 154, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #img_usuario img {
  width: 6em;
  height: 6em;
}

/* line 160, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #menu {
  z-index: 1;
  border-top: 3px solid #5b5874;
  background-color: #1f2e5a;
  position: fixed;
  left: -20em;
  width: 20em;
  height: 100%;
  padding: 1em 1em 1em 1em;
  transition: all 0.5s;
}

/* line 171, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #menu #nivel {
  width: 87%;
  margin: auto;
}

/* line 176, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #menu #nivel .progress-bar {
  background-color: #4da340;
}

/* line 180, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #menu #nivel #txt_nivel {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

/* line 188, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #menu #opcoes a {
  text-decoration: none;
  color: white;
  display: block;
  margin-right: 0em;
  text-decoration: none;
  width: 100%;
  font-size: 1.4em;
  padding: 0.8em 1em;
  border-radius: 0.2em;
  transition: all 0.3s;
}

/* line 200, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #menu #opcoes a:hover {
  background-color: rgba(21, 14, 58, 0.473);
}

/* line 208, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .servico {
  height: 18em;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

/* line 214, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .servico:hover {
  filter: drop-shadow(4px 8px 7px rgba(0, 0, 0, 0.25));
}

/* line 218, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .servico img {
  width: 14em;
  height: 14em;
  min-width: 14em;
  min-height: 14em;
}

/* line 228, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #div_observacao #observacao {
  border: 1px solid #2A3C71;
  border-radius: 1em;
}

/* line 234, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #img_nota {
  height: 15em;
  width: 15em;
  transform: rotate(15deg);
}

/* line 240, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #btn_encerrar {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
}

/* line 247, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .redes a {
  font-size: 1.5em;
  margin-left: 0.5em;
  color: #2A3C71;
}

/* line 252, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .redes a:hover {
  color: #182349;
}

/* line 258, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .redes-painel {
  position: absolute;
  right: 2em;
  top: 6em;
  width: 2em;
}

/* line 265, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login {
  background-image: url("../../img/fundo.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #000;
  padding: 5em 10%;
  padding: auto;
  justify-items: center;
}

/* line 277, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login h1 {
  display: flex;
  align-items: center;
}

/* line 281, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login h1 img {
  margin: auto;
  width: 100%;
}

/* line 287, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login label.mostrar_senha {
  padding-left: 0.5em;
  color: #2A3C71;
}

/* line 292, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login input[type="checkbox"] {
  all: unset;
  position: relative;
  display: inline-block;
  border-radius: 2em;
  width: 1.4em;
  height: 1.4em;
  background: #EEE;
  cursor: pointer;
  border: dotted 1px #2A3C71;
}

/* line 304, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login input[type="checkbox"]:checked {
  border: solid 1px #2A3C71;
}

/* line 308, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 1.1em;
  height: 1.1em;
  left: calc(50% - 0.55em);
  top: calc(50% - 0.55em);
  border-radius: 50%;
  background-color: #2A3C71;
}

/* line 322, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login #btn_login {
  padding: 0.5em 1em;
}

/* line 326, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-login .redes-index {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  display: block;
}

/* line 335, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-cliente {
  overflow-x: hidden;
  background: none;
  padding: 0;
}

/* line 341, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-cliente #btn_descartar {
  margin-top: 3em;
  margin-left: 2em;
  transition: all 0.5s;
}

/* line 347, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa-cliente img {
  width: 100%;
}

/* line 353, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa {
  width: 90%;
  margin: auto;
}

/* line 357, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial {
  margin-top: 5em;
  font-family: 'Red Hat Display', sans-serif;
}

/* line 361, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial h2 {
  font-size: 6em;
}

/* line 365, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial h3 {
  font-size: 2em;
}

/* line 369, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial .btn-iniciar-atd {
  color: #2A3C71;
  background-color: white;
  margin-top: 4em;
  padding: 0em 1.5em;
  border: solid 2px #2A3C71;
  border-radius: 4em;
  display: flex;
  align-items: center;
  font-size: 100%;
  text-transform: uppercase;
  transition: all 0.5s;
}

/* line 382, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial .btn-iniciar-atd:hover {
  color: white;
  background-color: #2A3C71;
}

/* line 387, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial .btn-iniciar-atd i {
  margin-left: 0.8em;
  font-size: 1.5em;
}

/* line 393, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial #logo2 {
  margin: auto;
}

/* line 396, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .caixa #section_inicial #logo2 img {
  width: 70%;
}

/* line 405, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #graficos .div-piechart {
  background-color: white;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.137));
  height: 20em;
  border-radius: 0.5em;
}

/* line 411, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #graficos .div-piechart #piechart,
body #graficos .div-piechart #columnchart_material {
  border-radius: 0.5em;
  padding: 1em;
  height: 18em;
  max-height: 18em;
  max-width: 100%;
}

/* line 423, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body .sombra {
  border-radius: 0.5em;
  background-color: white;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.137));
}

/* line 430, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #barra-pesquisa {
  border-style: solid;
  border-color: #2A3C71;
  border-width: 1px 0 1px 1px;
  padding: 0.5em 0em;
  border-radius: 5em 0 0 5em;
  padding-left: 1em;
  font-size: 1.2em;
  /* Cor de fundo do autocomplete */
}

/* line 439, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #barra-pesquisa:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

/* line 445, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #barra-pesquisa:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/* line 450, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #btn-pesquisa {
  border-style: solid;
  border-color: #2A3C71;
  border-width: 1px 1px 1px 0;
  border-radius: 0 5em 5em 0;
  background-color: white;
}

/* line 457, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #btn-pesquisa:hover,
body #btn-pesquisa i {
  font-size: 1.1em;
}

/* line 462, ../../Users/Miquéias/Desktop/NAF/public/estilo/sass/estilo.scss */
body #btn-pesquisa i {
  color: #2A3C71;
  font-size: 1.5em;
  transition: all 0.2s;
}

/*# sourceMappingURL=estilo.css.map */