$cor_primaria: #2A3C71;
$cor_secundaria:#182349;
$cor_3: #4da340;
$cor_3-1: #61BC53;

$cor_4: #eb6644;
$cor_4-1: #ff3f0f;


.botao {
    border: solid 1px $cor_primaria;
    background-color: $cor_primaria;
    color: white;
    border-radius: 4em;
    padding: 0.2em 1em;
    font-size: 1.2em;
    transition: all 0.2s;

    &:hover {
        background-color: $cor_secundaria;
        color: white;
    }
}

.botao-vermelho {
    border: solid 1px $cor_4;
    background-color: $cor_4;
    @extend .botao;

    &:hover {
        background-color: $cor_4-1;
        color: white;
    }
}

.botao-verde {
    border: solid 1px $cor_3;
    background-color: $cor_3;
    @extend .botao;

    &:hover {
        background-color: $cor_3-1;
        color: white;
    }
}

.entrada {
    display: inline;
    border: solid 2px $cor_primaria;
    border-radius: 5em;
    font-size: 1.5em;
    margin: auto;
    padding: 0.2em 0 0.2em 0.5em;
    overflow: hidden;

    label {
        padding-right: 0;
        text-align: center;
        color: $cor_primaria;
    }

    input {
        border-radius: 0 5em 5em 0;
        border: 1px solid white;
        padding-left: 0;

        &:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }

        /* Cor de fundo do autocomplete */
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
    }
}

body {
    //font-family: 'Playfair Display', serif;
    font-family: 'Red Hat Display', sans-serif;

    header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;

        margin-top: 0;
        padding: 1em 2em;
        width: 100%;
        height: 5em;
        background-color: $cor_primaria;

        display: flex;
        align-items: center;



        h1 {
            color: white;
            text-transform: capitalize;
            font-size: 2em;
            margin-bottom: 0;
        }

        #top_cliente {
            text-align: right;
            color: white;
            position: absolute;
            right: 1em;

            .copy {

                color: white;
                cursor: pointer;

                &:hover {
                    color: rgb(204, 204, 204);
                }

                i {
                    background-color: transparent;
                    border: none;
                    color: white;
                }
            }
        }
    }

    #img_perfil {
        margin-right: 1em;
        border: solid 2px rgb(186, 185, 189);
        border-radius: 3em;
        overflow: hidden;
        transition: all 0.3s;

        &:hover {
            border: solid 2px rgb(255, 255, 255);
        }

        img {
            cursor: pointer;
            width: 3em;
            height: 3em;
        }
    }

    #img_usuario {
        @extend #img_perfil;
        border-radius: 100%;
        border: solid 2px rgb(186, 185, 189);

        img {
            width: 6em;
            height: 6em;
        }
    }

    #menu {
        z-index: 1;
        border-top: 3px solid rgb(91, 88, 116);
        background-color: #1f2e5a;
        position: fixed;
        left: -20em;
        width: 20em;
        height: 100%;
        padding: 1em 1em 1em 1em;
        transition: all 0.5s;

        #nivel {

            width: 87%;
            margin: auto;

            .progress-bar {
                background-color: $cor_3;
            }

            #txt_nivel {
                text-decoration: none;
                color: white;
                font-size: 1.5em;
            }
        }

        #opcoes {
            a {
                text-decoration: none;
                color: white;
                display: block;
                margin-right: 0em;
                text-decoration: none;
                width: 100%;
                font-size: 1.4em;
                padding: 0.8em 1em;
                border-radius: 0.2em;
                transition: all 0.3s;

                &:hover {
                    background-color: rgba(21, 14, 58, 0.473);
                }
            }
        }

    }

    .servico {
        height: 18em;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        &:hover {
            filter: drop-shadow(4px 8px 7px rgba(0, 0, 0, 0.25));
        }

        img {
            width: 14em;
            height: 14em;

            min-width: 14em;
            min-height: 14em;
        }
    }

    #div_observacao {
        #observacao {
            border: 1px solid $cor_primaria;
            border-radius: 1em;
        }
    }

    #img_nota {
        height: 15em;
        width: 15em;
        transform: rotate(15deg);
    }

    #btn_encerrar {
        position: fixed;
        right: 1.5em;
        bottom: 1.5em;
    }

    .redes {
        a {
            font-size: 1.5em;
            margin-left: 0.5em;
            color: $cor_primaria;

            &:hover {
                color: $cor_secundaria;
            }
        }
    }

    .redes-painel {
        position: absolute;
        right: 2em;
        top: 6em;
        width: 2em;
    }

    .caixa-login {
        background-image: url('../../img/fundo.png');
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        color: #000;
        padding: 5em 10%;
        padding: auto;
        justify-items: center;

        h1 {
            display: flex;
            align-items: center;

            img {
                margin: auto;
                width: 100%;
            }
        }

        label.mostrar_senha {
            padding-left: 0.5em;
            color: $cor_primaria;
        }

        input[type="checkbox"] {
            all: unset;
            position: relative;
            display: inline-block;
            border-radius: 2em;
            width: 1.4em;
            height: 1.4em;
            background: #EEE;
            cursor: pointer;
            border: dotted 1px $cor_primaria;


            &:checked {
                border: solid 1px $cor_primaria;
            }

            &:checked::after {
                content: "";
                position: absolute;
                width: 1.1em;
                height: 1.1em;
                left: calc(50% - 0.55em);
                top: calc(50% - 0.55em);
                border-radius: 50%;
                background-color: $cor_primaria;
            }


        }

        #btn_login {
            padding: 0.5em 1em;
        }

        .redes-index {
            position: absolute;
            bottom: 0.5em;
            right: 1em;
            display: block;

        }
    }

    .caixa-cliente {
        //@extend .caixa-login;
        overflow-x: hidden;
        background: none;
        padding: 0;

        #btn_descartar {
            margin-top: 3em;
            margin-left: 2em;
            transition: all 0.5s;
        }

        img {
            width: 100%;
            //padding-left: 0.4em;
        }
    }

    .caixa {
        width: 90%;
        margin: auto;

        #section_inicial {
            margin-top: 5em;
            font-family: 'Red Hat Display', sans-serif;

            h2 {
                font-size: 6em;
            }

            h3 {
                font-size: 2em;
            }

            .btn-iniciar-atd {
                color: $cor_primaria;
                background-color: white;
                margin-top: 4em;
                padding: 0em 1.5em;
                border: solid 2px $cor_primaria;
                border-radius: 4em;
                display: flex;
                align-items: center;
                font-size: 100%;
                text-transform: uppercase;
                transition: all 0.5s;

                &:hover {
                    color: white;
                    background-color: $cor_primaria;
                }

                i {
                    margin-left: 0.8em;
                    font-size: 1.5em;
                }
            }

            #logo2 {
                margin: auto;

                img {
                    width: 70%;
                }
            }

        }
    }

    #graficos {
        .div-piechart {
            background-color: white;
            filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.137));
            height: 20em;
            border-radius: 0.5em;

            #piechart,
            #columnchart_material {
                border-radius: 0.5em;
                padding: 1em;
                height: 18em;
                max-height: 18em;
                max-width: 100%;
            }
        }

    }

    .sombra {
        // box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
        border-radius: 0.5em;
        background-color: white;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.137));
    }

    #barra-pesquisa {
        border-style: solid;
        border-color: $cor_primaria;
        border-width: 1px 0 1px 1px;
        padding: 0.5em 0em;
        border-radius: 5em 0 0 5em;
        padding-left: 1em;
        font-size: 1.2em;

        &:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }

        /* Cor de fundo do autocomplete */
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
    }

    #btn-pesquisa {
        border-style: solid;
        border-color: $cor_primaria;
        border-width: 1px 1px 1px 0;
        border-radius: 0 5em 5em 0;
        background-color: white;

        &:hover,
        i {
            font-size: 1.1em;
        }

        i {
            color: $cor_primaria;
            font-size: 1.5em;
            transition: all 0.2s;

        }
    }
}