<script defer src="/logica/impedir_retorno.js"></script>

<?php
$local ='painel';
$pagina = 'atendimento';
 require_once '../app/Views/app/header.phtml';

 require_once '../app/Views/app/menu.phtml';
 
?>

<div class="caixa">

    <section id="section_inicial" class="row">
        <div class="col-8">
            <h2>Portal Integrado</h2>
            <h3>Núcleo de Apoio Contábil e Fiscal - NAF</h3>

            <form action="/dados_cliente" method="POST">
                <button type="submit" class="btn-iniciar-atd">
                    Iniciar atendimento<i class="bi bi-arrow-right"></i>
                </button>
            </form>
        </div>
        <div id="logo2" class="col-4">
            <img src="img/logo2_naf.png" alt="">
        </div>
    </section>

</div>