<script defer src="/logica/impedir_retorno.js"></script>

<?php
$local ='';
$pagina = 'atendimento';
require_once '../app/Views/app/header.phtml';

require_once '../app/Views/app/menu.phtml';
?>

<form class="caixa-cliente" method="POST">

    <div class="row justify-content-md-center">
        <h1 class="col-md-5 justify-content-md-center">
            <img src="img/logo_naf.png" alt="Dados do Cliente">
        </h1>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-4 entrada">
            <div class="row">
                <label class="col-3">Cliente:</label>
                <input class="col-9" required name="nome" type="text">
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-2">
        <div class="col-md-4 entrada">
            <div class="row">
                <label class="col-3">CPF :</label>
                <input class="col-9" onblur="verificar_cpf(this)" required name="cpf" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="11">
            </div>
        </div>
    </div>

    <div class="row mt-2 justify-content-md-center">
        <div class="col-md-4 ">
            <div class="row justify-content-between">
                <!--################# INVALIDO #################-->

                <span id="invalido_cpf" class="col-md-7 text text-danger"></span>

                <button id="cliente_proximo" type="submit" class="btn botao col-md-4 disabled">
                    Próximo
                    <i class="bi bi-arrow-right"></i>
                </button>

            </div>
        </div>

    </div>

    <a href="/atendimento" class="btn botao-vermelho" id="btn_descartar">
    <i class="bi bi-trash"></i>    
    Descartar Atendimento
    </a>
</form>