<?php
$local = 'painel';
$pagina = 'gerenciamento';

require_once '../app/Views/app/header.phtml';

require_once '../app/Views/app/menu.phtml';

//echo  $this->view->nivel;
?>

<div class="container">
    <div class="row mt-4 gx-5">
        <div class="col-md-3 sombra">
            <div class="row justify-content-md-center">
                <div class="col-5 m-2 mt-3" id="img_usuario">
                    <img src="img/Perfil/Rectangle 32.png" alt="Imagem de Perfil">
                </div>
            </div>
            <div class="row text-justify mt-3">
                <span>Nome: Carlos Alberto</span>
                <span>E-mail: Carlos@hotmail.com</span>
                <span>Atendimentos: 128</span>
                <span>Nivel: 2</span>
            </div>
            <div class="row mt-3 mb-4 gy-3 justify-content-md-center">
                <button class="col-11 botao-verde"><i class="bi bi-person-plus"></i> Adicionar Usuario </button>
                <button class="col-11 botao"><i class="bi bi-person-check"></i> Editar Usuario </button>
                <button class="col-11 botao-vermelho"><i class="bi bi-person-dash"></i> Excluir Usuario </button>
            </div>
        </div>

        <div class="col-9 ml-2">
            <div class="row sombra justify-content-md-center">
                <div class="col-10 mt-3">
                    <div class="row">
                        <input id="barra-pesquisa" class="col-11 " type="text" placeholder="Procurar usuario por nome, email, id...">
                        <button id="btn-pesquisa" class="col-1"><i class="bi bi-search"></i></button>
                    </div>
                </div>
                <div class="col-10 mt-4">
                    <?php require_once '../app/Views/app/ranking.phtml'; ?>
                </div>
            </div>
        </div>
    </div>
</div>