<header>
    <div id="img_perfil">
        <?php if(!empty($_SESSION['imagem'])){ ?>

            <img src="img/Perfil/<?= $_SESSION['imagem'] ?>" alt="Imagem de Perfil">

        <?php }else{ ?>
          
            <img src="img/icone_perfil.png" alt="Imagem de Perfil">

        <?php } ?>
    </div>
    <h1><?php echo $_SESSION['nome'] ?></h3>
        <?php
        if (isset($this->view->nome_cliente) && isset($this->view->cpf_cliente)) { ?>

            <div id="top_cliente">
                <div class="copy" onclick="copyData(copy_nome)">
                    <span id="copy_nome"><?= $this->view->nome_cliente ?>
                        <i class="bi bi-clipboard"></i>
                    </span>
                </div>
                <div class="copy" onclick="copyData(copy_cpf)">
                    <span id="copy_cpf"><?= $this->view->cpf_cliente ?>
                        <i class="bi bi-clipboard"></i>
                    </span>
                </div>
            </div>

        <?php } ?>



</header>

<div class="redes redes-painel">
    <a href="https://www.instagram.com/naf_guarulhos/?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
    <a href="https://www.facebook.com/NAF-Torri-107581215207019" target="_blank"><i class="bi bi-facebook"></i></a>
    <a href="https://sites.google.com/torrimail.com.br/naftorri/in%C3%ADcio" target="_blank"><i class="bi bi-globe2"></i></a>
</div>