<?php

require '../app/Views/Modal/sair_conta.phtml';

?>
<nav id="menu">
    <div id="nivel"> 
        <span id="txt_nivel">Nivel de Usuário: <?= $_SESSION['nivel'] ?></span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width:<?= ($_SESSION['nivel'] * 100) / 4 ?>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div id="opcoes" class="mt-2">
        <?php if ($pagina != 'atendimento') { ?>
            <a href="/atendimento">Atendimento</a>
        <?php } ?>

        <?php if ($_SESSION['nivel'] > 1 && $local == 'painel' && $pagina != 'relatorios') { ?>
            <a href="relatorios">Relatórios</a>
        <?php } ?>

        <?php if ($_SESSION['nivel'] > 2  && $local == 'painel' && $pagina != 'gerenciamento') { ?>
            <a href="/gerenciar_usuarios">Gerenciamento de Usuarios</a>
        <?php } ?>

        <a href="https://www.gov.br/receitafederal/pt-br" target="_blank">Receita Federal</a></li>

        <a href="https://drive.google.com/file/d/1EvVJXKw4ifjHbFhoSYgtYSV2gndcaXhZ/view?usp=sharing" target="_blank">Manual de Atendimento</a>

        <a href="https://drive.google.com/file/d/1uCoDxD9fB_awNDOeWPCRbZ2tOY3DD4bH/view?usp=drive_web" target="_blank">E-Book Técnico</a>

        <?php if ($local == 'painel' ) { ?>
            <a class="" id="btn_sair" data-bs-toggle="modal" data-bs-target="#modal_sair">Sair</a>
        <?php } ?>
    </div>
</nav>