<script defer src="/logica/impedir_retorno.js"></script>

<?php
$local = '';
$pagina = 'atendimento';
require_once '../app/Views/app/header.phtml';

require_once '../app/Views/app/menu.phtml';
?>

<div class="container">
    <div class="row">
        <section class="col-md-5" id="div_observacao">
            <div class="row mt-5">
                <h1 class="col-md-9 mt-5 mb-2">Observações</h1>
            </div>

            <form class="row" action="/fim_obervacao" method="POST">
                <textarea class="col-md-12" onblur="obs_valido(this)" name="observacao" id="observacao" cols="50" rows="5"></textarea>
                <div class="col-12">
                    <div class="row mt-3 justify-content-md-end">
                        <button id="btn_ok" class="col-md-5 btn botao disabled" type="submit">
                            Enviar
                            <i class="bi bi-check2-circle"></i>
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <section class="col-md-7 mt-5">
            <div class="row justify-content-md-center mt-5 ml-5">
                <img id="img_nota" class="col-5" src="img/notepad.png" alt="">
            </div>

        </section>
    </div>


</div>