<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Atendente</th>
            <th scope="col">Nivel</th>
            <th scope="col">Atendimentos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Kaique de Lucas</td>
            <td>1</td>
            <td>357</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Luiz Gustavo</td>
            <td>1</td>
            <td>321</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Adriano Rodrigues</td>
            <td>4</td>
            <td>287</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Marcos Paulo</td>
            <td>3</td>
            <td>286</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Breno Custodio</td>
            <td>3</td>
            <td>250</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Larissa Silva</td>
            <td>1</td>
            <td>231</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Miquéias Braga</td>
            <td>2</td>
            <td>202</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Leonardo Cabral</td>
            <td>3</td>
            <td>103</td>
        </tr>
    </tbody>
</table>