<?php
$local = 'painel';
$pagina = 'relatorios';

require_once '../app/Views/app/header.phtml';

require_once '../app/Views/app/menu.phtml';


?>

<div class="container">
    <div id="graficos" class="row">
        <div class="col-6">
            <div class="div-piechart mt-3 text-center pt-3">
                <span>Atendimento Anual</span>
                <canvas id="columnchart_material" class="pt-2 "></canvas>

                <script>
                    var xValues = ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
                    var yValues = [420, 150, 200, 600, 800, 100, 600, 710, 340, 940, 850];

                    new Chart("columnchart_material", {
                        type: "line",
                        data: {
                            labels: xValues,
                            datasets: [{
                                fill: false,
                                lineTension: 0,
                                backgroundColor: "rgb(42, 60, 113)",
                                borderColor: "rgba(72, 22, 189, 0.226)",
                                data: yValues
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        min: 0,
                                        max: 1000
                                    }
                                }],
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-6 ">
            <div class="div-piechart mt-3 pt-3 text-center">
            <span>Serviços Prestados</span>
                <div id="piechart"></div>

                <script>
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = google.visualization.arrayToDataTable([
                            ['atendente', 'atendimentos'],
                            ['Consultar CPF', <?= $this->view->quant_servico['Consultar CPF'] ?>],
                            ['Consultar CNPJ', <?= $this->view->quant_servico['Consultar CNPJ'] ?>]
                        ]);

                        console.log('grafico');
                        var options = {
                            title: ''
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);

                    }
                </script>
            </div>

        </div>
    </div>


    <div class="row mt-4 " id="ranking">
        <div class="col-12">
            <?php require_once '../app/Views/app/ranking.phtml';?>
        </div>
    </div>
</div>