<script defer src="/logica/impedir_retorno.js"></script>

<?php
require '../app/Views/Modal/encerrar_atd.phtml';

$local = '';
$pagina = 'atendimento';
require_once '../app/Views/app/header.phtml';

require_once '../app/Views/app/menu.phtml';

?>

<div class="container">
    <h1 class="mt-3 mb-4">Serviços</h1>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="servico card">
                <img src="img/Servicos/CPF.png" class="mt-2 card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title h4">Consultar CPF</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="servico card">
                <img src="img/Servicos/CNPJ.png" class="mt-2 card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-title h4">Consultar CNPJ</p>
                </div>
            </div>
        </div>
        
    </div>

    <a class="btn botao" id="btn_encerrar" data-bs-toggle="modal" data-bs-target="#modal_encerrar">
        <i class="bi bi-check2-circle"></i>    
        Encerrar Atendimento
    </a>
</div>